* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    margin: 0 auto;
    width: 1550px;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}


#logo {
    font-family: 'Josefin Sans', sans-serif;
}

#nav_links {
    font-family: 'Josefin Sans', sans-serif;
    width: 30%;
    display: flex;
    justify-content: space-around;
    font-size: larger;
}

#main_box {
    width:100%;
    padding-top: 100px;
    height: 690px;
}


#project, #about, #ourteam {
    margin: 10px;
    color: white;
    background-color: black;
    border-radius: 10px;
}

.team {
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    color: black;
    width: 18rem;
    display: inline-block;
}

.team img {
    width: 50%;
}

.team .card-body {
    text-align: left;
}